/*TODO: Add a background color or image to your website*/
body {
  background-color: #b3f0ff;
}
/* Complete the following information */
h1 {
  color: navy;
}

/*TODO: Create a new style rule by the class attribute and style the header section(s) of your website. */

* {
  margin: 0px;
  padding: 3px;
}
/*TODO: Add styling rules for the text and images on your website.*/

/*TODO: Create a Flexbox to create a responsive layout. Use the property display: flex*/

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.name {
  display: flex;
  justify-content: center;
}
.bio {
  display: flex;
  justify-content: center;
}
.p.s {
  display: flex;
  justify-content: center;
}
.me {
  border-radius: 10%;
}
/* Navigation Bar */

ul {
  background-color: #00ace6;
  list-style-type: none;
  padding: 1em;
  background-color: #00ace6;
  overflow: hidden;
}

li {
  display: inline;
  border-right: 2px solid white;
}
li:last-child {
  border-right: none;
}
li a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 2em;
  font-size: 1.3em;
}
li a:hover {
  background-color: #0099cc;
}
.navbar {
  display: flex;
  jusitfy-content: center;
  margin-left: 340px;
}
